<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sem4</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html,body{
            height: 100%;
            width: 100%;
        }
        body{
            animation: slideIn 1.5s ease-in-out;
            background-color: white;
        }
        header{
        position: sticky;
        top: 0;
        z-index: 4;
        background-color: #444444;
        
        }
        .nav{
            display: flex;
            justify-content: space-between;
            height: 20%;
            padding: 20px 10px;
        }
        .nav a{
            text-decoration: none;
            display: flex;
            padding-top: 15px;
            color:#ffffff;
        }
        .nav h1{
            font-size: 45px;
            color: white;
        }
        .btn-60,
        .btn-60 *,
        .btn-60 :after,
        .btn-60 :before,
        .btn-60:after,
        .btn-60:before {
        border: 0 solid;
        box-sizing: border-box;
        }
        .btn-20,
        .btn-20 *,
        .btn-20 :after,
        .btn-20 :before,
        .btn-20:after,
        .btn-20:before {
        border: 0 solid;
        box-sizing: border-box;
        }
        .btn-20 {
        -webkit-tap-highlight-color: 
        transparent;
        appearance: button;
        background-color: 
        #ffffff;
        background-image: none;
        color: 
        #fff;
        cursor: pointer;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
            Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
            Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        font-size: 100%;
        font-weight: 900;
        line-height: 1.5;
        margin: 0;
        mask-image: -webkit-radial-gradient(#000, #fff);
        padding: 0;
        text-transform: uppercase;
        }
        .btn-20:disabled {
        cursor: default;
        }
        .btn-20:-moz-focusring {
        outline: auto;
        }
        .btn-20 svg{
        display: block;
        }
        .btn-20 [hidden] {
        display: none;
        }
        .btn-20 {
        border-radius: 99rem;
        border-width: 2px;
        overflow: hidden;
        padding: 0.8rem 3rem;
        position: relative;
        }
        .btn-20 span {
        mix-blend-mode: difference;
        }
        .btn-20:before {
        background: 
        #000000;
        content: "";
        display: block;
        height: 100%;
        left: -100%;
        position: absolute;
        top: 0;
        transform: skew(0deg) translateX(-20%);
        transition: transform 0.2s ease;
        width: 120%;
        }
        .btn-20:hover:before {
        transform: skew(45deg) translateX(75%);
        }
        
        .heading {
            margin: 20px 0;
            text-align: center;
        }
        .heading {
            font-size: 30px;
            color: #333;
            animation: slideIn 1s ease-out forwards;
        }
        .main {
            width: 80%;
            background-color: #444444;
            margin: 40px auto;
            border: 1px solid grey;
            border-radius: 30px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        #courses {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            gap: 50px;
            padding: 50px;
        }
        .subject {
            height: 300px;
            width: 300px;
            border: 1px solid black;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            overflow: hidden;
            cursor: pointer;
        }
        .subject:hover {
            transform: translateY(-10px);
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        }
        .subject img {
            height: 100%;
            width: 100%;
            padding: 5%;
            border-radius: 15px 15px 0 0;
            overflow: hidden;
            transition: transform 0.3s ease;
        }
        .subject img:hover {
            transform: scale(1.05);
        }
        #courses a {
            text-decoration: none;
            padding-bottom: 20px;
        }
        .subject h1 {
            font-size: 20px;
            margin-top: 10px;
            color: #333;
            padding-bottom: 14px;
        }
        .footer {
            height: 100px;
            width: 100%;
            background-color: #ffffff;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;
        }
        strong{
            font-size: 20px;
        }
        @keyframes slideIn {
            0% {
                transform: translateY(-20px);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
        @keyframes autoOpacity {
            0%, 50%, 100% { opacity: 0.5; }
            25%, 75% { opacity: 1; }
        }
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    </style>
</head>
<body>
    <header>
        <nav class="nav">
            <h1>Hello <%=firstName%>!</h1>
            <form action="/logout" method="POST" style="display: inline;">
                <button class="btn-20" type="submit"><span>Logout</span></button>
            </form>
        </nav>
    </header>
    <div class="heading">
        <h1 class="h1">SEMESTER 4 NOTES</h1>
    </div>
    <div class="main">
        <div id="courses">
            <a href="https://drive.google.com/drive/folders/1QSNUn3lXfho9iPykMW4sDaxh3hnyzZNY">
                <div class="subject" id="SE">
                    <img src="https://i.pinimg.com/564x/f9/dd/3c/f9dd3c93102d570a0e15bf52956923db.jpg" alt="SE">
                    <h1>SOFTWARE ENGINEERING</h1>
                </div>
            </a>
            <a href="https://drive.google.com/drive/folders/1QdhayXex0KbgZxaCMOuJ2h7r570m55dJ">
                <div class="subject" id="DBMS">
                    <img src="https://i.pinimg.com/564x/8f/9d/27/8f9d27e6cd6f2b555a268c6044dc49b8.jpg" alt="DBMS">
                    <h1>DBMS</h1>
                </div>
            </a>
            <a href="#">
                <div class="subject" id="WD">
                    <img src="https://i.pinimg.com/564x/03/2d/b5/032db574a23b523b79481d8d222a41ca.jpg" alt="WD">
                    <h1>WEB DESIGNING</h1>
                </div>
            </a>
            <a href="https://drive.google.com/drive/folders/1QlC6npuwmXAIumFvjdEx1Ri0lGwK0Lzs">
                <div class="subject" id="OS">
                    <img src="https://i.pinimg.com/564x/11/5a/17/115a1787073ca26f3ce884af19dc96d2.jpg" alt="OS">
                    <h1>OPERATING SYSTEM</h1>
                </div>
            </a>
        </div>
    </div>
    <div class="footer">
        <div class="footer_container">
            <p><strong>CAMPUS NOTES</strong> <br>An app where students can search for notes</p>
        </div>
    </div>
</body>
</html>
